* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navigation */
header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo img {
    width:60px;
    height:auto;   
}


.logo {
    font-size:26px;
    font-weight:bold;
    color: #333;
}

nav a {
    margin-left:30px;
    text-decoration:none;
    color: #333;
    font-weight: 500;
}

nav a:hover {
    color: #079adf;
}

/* Hero */
.hero {
    height: 90vh;
    background: url('https://www.datocms-assets.com/119921/1741943980-best-2025-sportsbikes-13.jpg?auto=format&w=740')
    center/cover no-repeat;
    background-repeat: no-repeat;
    background-position: right center; 
    background-size: 700px;        
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 60px;
}

.hero-text {
    max-width: 500px;
    color: rgb(16, 98, 230);
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    color: white;
    background: #007bff;
    cursor: pointer;
    border-radius: 6px;
}

.cta:hover {
    background: #0056b3;
}

/* Features */
.features {
    padding: 50px 20px;
    background: #f8f9fc;
    text-align: center;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 25px;
    color: #222;
}

.feature-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 230px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.feature-box h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #0A56E3;
}

.feature-box p {
    color: #555;
    font-size: 0.9rem;
}

/* Footer */
.footer{
    padding: 10px;
    text-align:center;
    background: #333;
    color: white;
}
